.main, .skills, .tools, .intro, .projects, .tags, .footer{
  display: flex;
}
.main, .skills, .skills div, .web, .software, .container, .footer{
  flex: 1;
}
.main {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skill_header, .container div, .footer p{
  text-align: center;
}

#skill_header, .skills{
  width: 100%;
}

#skill_header, .container h3{
  margin: 0;
}

#skill_header, .tags, .footer{
  color: white;
}

#skill_header, .skills, .stickyBtn, .footer{
  background-color: #11253d;
}

#skill_header{
  padding: 1em 0;
}
.skills, .projects, .footer{
  justify-content: center;
}

.skills, .projects, .tags{
  flex-flow: row wrap;
}
.skills{
  padding: 0 6rem;
}

.tools{
  width: 80%;
  height: 60%;
  margin: auto;
  padding: 2rem 1.4rem;
  justify-content: space-evenly;
  background-color: black;
  opacity: .6;
}

.Nav{
  display: flex;
  text-align: end;
  padding: 1rem 1.2rem;
}

.Nav ul{
  flex: 2;
}

.Nav ul li{
  display: inline;
  margin: 0 1rem;
  font-weight: 500;
}


.intro{
  flex-flow: row wrap-reverse;
  padding: 4rem 6rem;
  box-shadow: 0 2px 5px;
  z-index: 3;
}

.intro div, .footer p{
  flex: 2;
}

.intro div{
  min-width: 300px;
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 2px solid black;
}

.web, .software{
  margin: 2rem;
  min-width: 226px;
  background-color: white;
  border-radius: 1rem;
}

.web h3{
  background-color: rgb(72, 183, 252);
}

.software h3{
  background-color: rgb(47, 255, 64);
}
.projects{
  max-width: 780px;
  margin: 2em;
}
.container{
  min-width: 322px;
  max-width: 350px;
  border: 1px solid lightslategrey;
  border-radius: 1em;
  margin: 1em;
}

.container:hover{
  box-shadow: 0 0 12px rgb(102, 102, 247);
}

.container div{
  padding: .4em;
}

.container span{
  width: 100% !important;
}

.container img{
  border-radius: 1em 1em 0 0;
  margin: 0 !important;
}

.container button{
  margin: 0 .5em;
  border: 1px solid rgb(102, 102, 247);
  border-radius: 8px;
  padding: .4em 1.2em;
}

.tags span{
  border-radius: 8px;
  background-color: rgb(102, 102, 247);
  margin: .3em;
  padding: .2em .4em;
  width: fit-content !important;
}

.stickyBtn{
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100%;
  margin: 1rem;
  color: white;
  position: sticky;
  bottom: 10px;
  align-self: flex-end;
}

.footer {
  padding: 2rem;
  border-top: 1px solid #eaeaea;
  align-items: center;
}

.footer a{
  flex: .5;
  text-align: start;
  padding: 1em;
  border: 1px solid white;
}

@media screen and (max-width: 790px) {
  .intro div{
    border-right: none;
    border-top: 2px solid black;
  }

  .footer p{
    flex: 1;
  }
}
@media (max-width: 550px){
  .footer {
    display: flex;
    flex-flow: column-reverse;
  }

  .Nav{
    padding: 1rem;
  }

  .Nav ul{
    text-align: center;
    padding-inline-start: 0;
  }

   .Nav ul li {
     margin: 0 .4rem;
   }
}

@media  screen and (max-width: 340px) {
  .container{
    min-width: initial;
    margin: 1em 0;
  }

  .intro div{
    min-width: 260px;
    margin:0;

  }
  .Nav{
    text-align: center;
  }

}